body{
    background: #ffea00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.score-board{
    display: flex;
    justify-content: center;
    gap:20px;
    font-size: 20px;
}

.playagain-button-div{
    display: flex;
    justify-content: center;
}

.hidebutton{
    display: none;
}

.buttonstyle{
    border-radius: 28px;
    width: 100px;
    height: 44px;
    border: 4px solid red;
    font-weight: 900;
    background-color: black;
    color: white;
}

.image_container{
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    width: 16em;
    transition: 0.5s;
}

.button-hover{
    transform: scale(1.1);
}
